#qr_row1, #qr_row2 {
        font-size: 10px;
        font-weight: bold;
        background-color: #394E63; 
        text-align: center;
        display:none;
}
#qr_row1 > td, #qr_row2 > td {
        vertical-align: top; 
        padding-top: 5px; 
}
#qr_row1 > td + td, #qr_row2 > td + td {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10px;
        text-align: left;
}
#qr_row0 > td { 
        height: 16px;
        text-align: center;
        font-weight: bold;
        background-color: #091827;
        font-size: 10px;
        color: #ddd; 
} 
#qr_row1 img {
        cursor: pointer;
}
#qr_custombuttons input{
    width: 300px;
}
#smileys > img {
    max-height: 30px;
    max-width: 30px;
}
